.title {
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	text-align: left;
	vertical-align: top;
	fill: solid;
	color: #1D1F21;
	text-transform: capitalize;
}

.d-sm-flex .btn-create-style a {
	text-decoration: none;
}

.d-sm-flex .btn-create-style {
    border-radius: 20px;
	width: 164px;
	height: 40px;
	background-color: #5DBFD4;
	font-weight: bold;
	font-size: 15px;
	vertical-align: middle;
	align-items: center;
	line-height: 20px;
	color: #FFFFFF;
}

.d-sm-flex .btn-create-style:hover {
	background-color: white;
	color: #5DBFD4;
	font-weight: bold;
	border: 1px solid #5DBFD4;
}

.column-name {
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	line-height: 100%;
	text-align: left;
	vertical-align: top;
	color: #7B7B7B;
}

.column-content {
	font-size: 13px;
	line-height: 18px;
	line-height: 100%;
	text-align: left;
	vertical-align: top;
}

.desc-column {
	font-weight: 400; /*regular*/
	color: #1D1F21;
}

.mb-30 { margin-bottom: 30px; }

.px-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.mx-20 {
	margin-left: 20px;
	margin-right: 20px;
}

/* datatable */
table.dataTable.no-footer {
    border: none;
}

table.dataTable thead th,
table.dataTable thead td {
	border: none;
	padding: 13px 13px 13px 25px;
}

table.dataTable tbody th,
table.dataTable tbody td {
	border-top: none;
    padding: 13px 13px 13px 25px;
    line-height: 15px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: none;
}

table.dataTable tbody tr { height: 43px; }

span.arrow-hack { margin-left: 5px; }

span.asc {
    background: url("../images/sort_asc.png") no-repeat center right;
}

span.desc {
    background: url("../images/sort_desc.png") no-repeat center right;
}

span.sort {
    background: url("../images/sort_both.png") no-repeat center right;
}

.dataTables_length select {
	background-color: #E5E5E5 !important;
}

.dataTables_wrapper .dataTables_filter { float: left; }

.dataTables_wrapper .dataTables_filter { display: none; }

table.dataTable td {
    color: #5DBFD4;
    padding: 13px;
    border-bottom: 2px solid #E5E5E5;
}

.description-role {
	padding: 5px 5px;
	border-left: 5px solid #00C3EE !important;
}

.icon-pencil-right {
	position: absolute;
	cursor: pointer;
	top: 10px;
	right: 20px;
}

.r-20 { right: 20px !important; }

.cursor-pointer { cursor: pointer !important; }

label.role-title-header {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
}

.role-form label.role-sub-title-header {
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	padding-top: 0px !important;
}

.role-form label.border-bottom-action {
	border-bottom: 0.5px solid rgba(51, 51, 51, 0.5);
    padding-bottom: 10px;
    padding-left: 20px;
}

.role-form label.sub-action {
    margin-bottom: 0px !important;
    padding-left: 20px;
}

.role-form label.note-tbd {
	background-color: #EBBA16;
	padding: 11px 18px !important;
	text-align: left;
	height: 54px;
	font-size: 14px;
	color: #000000;
}

.role-form div.border-bottom-action {
	border-bottom: 0.5px solid rgba(51, 51, 51, 0.5);
}

.role-form .role-sub-note {
	color: #828282;
}

.role-form .role-sub-title {
	display: inline-block;
	margin-bottom: 8px;
}